<h2>名前の登録</h2>
<%= form_for @user, url: {action: 'update'}  do |f| %>
<div class="field">
  <%= f.label :なまえを記入してください %><br>
  <%= f.text_field :username %>
  さん
  </div>
<div class="actions">
    <%= f.submit :OK%>
  </div>
<% end %>