
<%= form_for @user, url: {action: 'update'}  do |f| %>
<div class="field">
  <%= f.label :空欄の場合は名前を登録してください %><br>
  <%= f.text_field :username %>
  さん
  </div>
<div class="actions">
    <%= f.submit :登録%>
  </div>
<% end %>